{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
        <div class="row">
            {% for listing in listings %}
                {% if user.is_authenticated  and listing.isActive == True %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ listing.imageUrl }}" alt="{{ listing.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                        </div>
                        <div class="btn_card">
                            <a href="{% url 'details' id=listing.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}    
        </div>
{% endblock %}